<div class="authCover ui middle aligned four column centered grid">
    <div class="eight wide column">
        <div class="ui segment">
            <form #loginForm="ngForm" class="ui form attached fluid segment">
                <h2 class="ui right floated header">My Travel Map</h2>
                <div class="ui clearing divider"></div>
                <div class="two fields">
                    <div class="field">
                        <label>Email</label>
                        <input placeholder="Email" type="email" name="email" [(ngModel)]="loginCredentials.email">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input placeholder="Password" type="password" name="password" [(ngModel)]="loginCredentials.password">
                    </div>
                </div>
                <button class="ui blue submit button" routerLink="/map" [disabled]="loginForm.invalid">Login</button>
            </form>
            <div class="ui bottom attached warning message">
                <i class="icon help"></i>
                New user?
                <a routerLink="/register">Register here</a> instead.
            </div>
        </div>
    </div>
</div>
