
<div class="ui internally padded grid">
    <div class="row">
        <div class="five wide column" style="max-height: calc(100vh - 2em); overflow: scroll; box-sizing: border-box;">
            <!-- USER INFO -->
            <div class="ui segment">
                <div class="content" *ngIf="currentUser">
                    <h2 class="ui center aligned header">
                        <i class="user circle icon"></i> {{currentUser.name}}
                    </h2>
                </div>
                <div class="ui divider"></div>

                <!-- USER CONTROLS (LOGOUT) -->
                <div class="extra content">
                    <button class="fluid ui negative basic button">
                        <i class="sign in icon"></i> Logout
                    </button>
                </div>
                <!-- !USER CONTROLS (LOGOUT) -->

                <div class="ui divider" *ngIf="currentUser.type === 'TOURIST'"></div>
                <div class="extra content" *ngIf="currentUser.type === 'TOURIST'">
                    <div class="ui horizontal statistics">
                        <div class="ui yellow statistic">
                            <div class="value" *ngIf="noOfVisitedCountries > 0">{{noOfVisitedCountries}}</div>
                            <div class="label">
                                    <span *ngIf="noOfVisitedCountries === 0">no visited countries</span>
                                    <span *ngIf="noOfVisitedCountries === 1">country visited</span>
                                    <span *ngIf="noOfVisitedCountries > 1">countries visited</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- !USER INFO -->

            <!-- SELECTED COUNTRY INFO -->
            <div class="ui segment" *ngIf="selectedCountry || currentUser.type === 'TOURIST'">
                <div class="content">
                    <h3 class="ui center aligned header">{{selectedCountry.name}} <span *ngIf="selectedCountry.name !== selectedCountry.nativeName">({{selectedCountry.nativeName}})</span></h3>
                    <div class="ui center aligned" style="margin: auto; max-width: 8em;">
                        <img [src]="selectedCountry.flag" alt="{{selectedCountry.name}}" class="ui image" style="box-shadow: 0 0 5px rgba(0,0,0,0.3);">
                    </div>
                    <div class="ui divider"></div>
                    <p>Capital: <b>{{selectedCountry.capital}}</b></p>
                    <p>Region: <b>{{selectedCountry.region}}</b></p>
                    <p>Lat./Long.: <b>{{selectedCountry.latlng[0]}} / {{selectedCountry.latlng[1]}}</b></p>
                    <p>Population: <b>{{selectedCountry.population.toLocaleString()}}</b></p>
                    <p>Currency: <b>{{selectedCountry.currencies[0].code}} ({{selectedCountry.currencies[0].symbol}})</b></p>
                </div>
            </div>
            <!-- !SELECTED COUNTRY INFO -->

            <!-- TOP VISITED COUNTRIES -->
            <div class="ui segment" *ngIf="mostVisitedCountries && currentUser.type === 'COMPANY'">
                <div class="content">
                    <h3 class="ui center aligned header">
                        <i class="sort numeric down icon"></i> Top 10 visited countries
                    </h3>

                    <div class="ui divider"></div>

                    <div class="ui middle aligned divided list">
                        <div class="item" *ngFor="let country of mostVisitedCountries; index as i;">
                            <img [src]="'http://www.countryflags.io/' + (country.description | lowercase) + '/flat/64.png'" alt="" class="ui avatar image">
                            <!-- <i class="flag" [ngClass]="(country.description | lowercase)"></i> -->
                            <div class="content">
                                <div class="header">{{i + 1}}. {{country.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- !TOP VISITED COUNTRIES -->
        </div>

        <!-- map -->
        <div class="eleven wide column">
            <div id="chartdiv" [style.width.%]="100" style="height: calc(100vh - 2em);"></div>
        </div>

    </div>
</div>
